img {
  width: auto;
  height: auto;
}

img,
#expand {
  max-width: auto;
  max-height: auto;
}

html,
body {
  background-color: #222222;
  color: #aaaaaa;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#chatBox {
  position: absolute;
  /* bottom: 0; */
}

.bubble {
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  padding: 0.75;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0.25em;
}

.box {
  display: flex;
}

#top {
  height: 1.5em;
}

#topMessage {
  font-size: 1.5em;
  pointer-events: none;
}

#middle {
  flex: 1
}

#left {
  width: 15%;
}

#right {
  flex: 1;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#bottom {
  padding-top: 0.25em;
  height: 1.5em;
}

ul {
  margin: 0;
  padding: 0em;

  cursor: pointer;
}

li {
  list-style: none;
  margin-left: 1em;
  cursor: pointer;
}

.boxfill {
  flex: 1
}

.bottomup {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#messages {
  padding: 0;
}

.messagePane {
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.25em;

  display: flex;
}

.messagePaneLeft {
  width: 15%;
  border-right: 2px solid;
}

.messagePaneRight {
  flex: 1;
  padding-left: 1em;
}

.messagePane:nth-last-child(even) {
  background-color: #1e1e1e;
}

.messagePane:nth-last-child(odd) {
  background-color: #222222;
}

.messagePane:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}